<div class="first">
    <strong>
        <font size="+2"> Greeting</font>
    </strong>
</div>
</br>
<div class="message">
    {{msg}}
</div>
</br>
<div class="second">
    <form action="/" method="post">
        <label for="names">Name: </label><input type="text" name="name" class="nameEnter"
            placeholder="e.g Thato">                 Greeted people:
                        {{count}} </br></b>
     


        <input type="radio" value="Swahili" name="language">Swahili
        <input type="radio" value="TshiVenda" name="language">TshiVenda
        <input type="radio" value="Shona" name="language">Shona</br></br>

        <input type="submit" value="Greet Me" class="greetings">
        <!-- <button type="button" class="greetings" onclick="clear();">Greet Me</button> -->

 
    </form>
    
</div>

{{!-- <div class="list">
    <p>Number of people that have been greeted</p>
    {{count}}
</div> --}}
<br>
<form action="/clear" method="post">

    <a href="greeted">Greeted Names</a>

</form>

<div>
    <a href="/clear">
        <button type="submit" class="clearBtn">Clear</button>
    </a>
    

</div>

</br>
<div class="entry">{{entry}}</div>

{{#if message.info}}
<div class="">
    <h1>{{message.info}}</h1>
</div>
{{/if}}